/* This file is for your main application css. */
@import "./normalize.scss";
@import "./reset.scss";
@import "./variables.scss";
@import "./global.scss";

@import "../node_modules/nprogress/nprogress.css";

@import "./components/components.scss";

/* LiveView specific classes for your customizations */
[data-phx-main="true"] {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.invalid-feedback {
  color: var(--c-danger);
  display: block;
}

.help-block {
  color: var(--c-danger);
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

