h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset,
body,
button,
ul,
figure,
ol {
  margin: 0;
}

fieldset,
button,
legend,
ul,
ol {
  padding: 0;
}

fieldset {
  border: none;
}

button {
  border: none;
  width: auto;
  overflow: visible;
  background-color: transparent;
  line-height: inherit;
  text-align: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

input,
textarea {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

input[type='number'] {
  appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
}
