:root {
  /* Font */
  --ff-default: arial, sans-serif;

  /* Font size */
  --fz-md: 15px;
  --fz-lg: 18px;
  --fz-h1: 50px;
  --fz-h2: 30px;
  --fz-h3: 20px;

  /* Line height */
  --lh-xs: 1;
  --lh-sm: 1.25;
  --lh-md: 1.6667;

  /* Colors */
  --c-black: #000;
  --c-gray-1: #1a1a1e;
  --c-gray-3: #36363b;
  --c-gray-5: #818193;
  --c-gray-7: #bbbbc7;
  --c-gray-9: #dbdbe7;
  --c-white: #ffffff;
  --c-red: #ff0000;

  /* Border radius */
  --bdrs-default: 5px;

  /* Transition */
  --t: 0.2s;

  /* Shadows */
  --shadow-default: 6px 6px 35px rgba(112, 123, 177, 0.2);

  /* Spaces */
  --space-md: 10px;

  --max-page-width: 500px;
}
