.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--c-gray-1);
  border-top: 1px solid var(--c-gray-4);

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
    width: 100%;
    max-width: var(--max-page-width);
    padding: var(--space-md);
    justify-content: space-between;
    align-items: center;
  }

  .button {
    &._prev {
      grid-column: 1;
    }
    &._new {
      grid-column: 2;
    }
    &._next {
      grid-column: 3;
    }
  }
}
