.footer {
  display: flex;
  justify-content: center;
}

.footer__container {
  display: flex;
  width: 100%;
  max-width: var(--max-page-width);
  padding: var(--space-md);
  justify-content: space-between;
}
