.footer {
  display: flex;
  justify-content: center;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: var(--max-page-width);
    padding: var(--space-md);
    justify-content: space-between;
    align-items: center;
  }

  .button {
    &._prev {
      grid-column: 1;
    }
    &._new {
      grid-column: 2;
    }
    &._next {
      grid-column: 3;
    }
  }
}
