input {
  background-color: var(--c-gray-2);
  color: var(--c-gray-9);
  border: 1px solid var(--c-gray-6);
  border-radius: var(--bdrs-default);
  height: 30px;
  padding-left: 7px;
  outline: none;

  &:focus {
    border-color: var(--c-gray-9);
  }

  &._new {
    background-color: var(--c-warning-dark);
  }
}

.input {
  display: flex;
  flex-direction: column;
}

.checkboxInput {
  display: flex;
  align-items: center;
  align-self: flex-start;

  input {
    margin-left: 10px;
  }

  &:focus-within {
    outline: 1px solid white;
  }
}

.selectInput {
  display: flex;
  align-items: center;
  align-self: flex-start;

  select {
    background-color: var(--c-gray-2);
    color: var(--c-gray-9);
    border-radius: var(--bdrs-default);
    height: 30px;
    outline: none;
    margin: 0 7px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:focus {
      border-color: var(--c-gray-9);
    }
  }
}
